<%= form_with(model: produto, local: true) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :produto_nome %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco, id: :produto_preco %>
  </div>

  <div class="field">
    <%= form.label :parcelas %>
    <%= form.text_field :parcelas, id: :produto_parcelas %>
  </div>

  <div class="field">
    <%= form.label :imagem %>
    <%= form.text_field :imagem, id: :produto_imagem %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :produto_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
